extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar

block variables
	-
		pageName = 'Single Project';

block page
	+rd-navbar

	include ../components/section/_breadcrumb-no-title
	include ../components/section/_project-gallery-3
	include ../components/footer/_footer-consulting
